<ion-content>
  <ion-card>

      <ion-row>
          <ion-col size="3">
              <ion-button (click)="goLogin()" class="back-button" size="small" expand="full">
                  <ion-icon name="arrow-back" style="zoom:1.8;"></ion-icon>
              </ion-button>
          </ion-col>
      </ion-row>

      <ion-card-header>
          <ion-card-title style="text-align: center;font-weight: bold; font-size: 50px;">Registrarse</ion-card-title>
      </ion-card-header>


      <form [formGroup]="validations_form" (ngSubmit)="signUp(validations_form.value)">
          <ion-item lines="full">
              <ion-label position="floating">Nombre(s)<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.name">
                  <div class="error-message"
                      *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
              </ng-container>
          </div>

          <ion-item lines="full">
              <ion-label position="floating">Apellido(s)<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="text" formControlName="lastname"></ion-input>
          </ion-item>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.lastname">
                  <div class="error-message"
                      *ngIf="validations_form.get('lastname').hasError(validation.type) && (validations_form.get('lastname').dirty || validations_form.get('lastname').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
              </ng-container>
          </div>

          <ion-item lines="full">
              <ion-label position="floating">Correo Electrónico<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                  <div class="error-message"
                      *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
              </ng-container>
          </div>

          <ion-item lines="full">
              <ion-label position="floating">País</ion-label>
              <ion-input type="text" formControlName="country"></ion-input>
          </ion-item>

          <ion-item lines="full">
              <ion-label position="floating">Teléfono</ion-label>
              <ion-input type="text" formControlName="cel"></ion-input>
          </ion-item>

          <div formGroupName="matching_passwords">
              <ion-item lines="full">
                  <ion-label position="floating">Contraseña<ion-text color="danger">*</ion-text>
                  </ion-label>
                  <ion-input *ngIf="isHiddenPass" type="password" placeholder="Contraseña" formControlName="password">
                  </ion-input>
                  <ion-input *ngIf="!isHiddenPass" type="text" placeholder="Contraseña" formControlName="password">
                  </ion-input>
                  <ion-button color="primary" slot="end" (click)="changeHidden()" *ngIf="isHiddenPass">
                      <ion-icon name="eye" style="zoom:1.8"></ion-icon>
                  </ion-button>
                  <ion-button color="primary" slot="end" (click)="changeHidden()" *ngIf="!isHiddenPass">
                      <ion-icon name="eye-off" style="zoom:1.8"></ion-icon>
                  </ion-button>
              </ion-item>

              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.password">
                      <div class="error-message"
                          *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
                          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                      </div>
                  </ng-container>
              </div>

              <ion-item lines="full">
                  <ion-label position="floating">Confirmar contraseña<ion-text color="danger">*</ion-text>
                  </ion-label>
                  <ion-input *ngIf="isHiddenConfirmPass" type="password" placeholder="Confirmar contraseña" formControlName="confirm_password">
                  </ion-input>
                  <ion-input *ngIf="!isHiddenConfirmPass" type="text" placeholder="Confirmar contraseña" formControlName="confirm_password">
                  </ion-input>
                  <ion-button color="primary" slot="end" (click)="changeConfirmHidden()" *ngIf="isHiddenConfirmPass">
                      <ion-icon name="eye" style="zoom:1.8"></ion-icon>
                  </ion-button>
                  <ion-button color="primary" slot="end" (click)="changeConfirmHidden()" *ngIf="!isHiddenConfirmPass">
                      <ion-icon name="eye-off" style="zoom:1.8"></ion-icon>
                  </ion-button>
              </ion-item>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.confirm_password">
                      <div class="error-message"
                          *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                      </div>
                  </ng-container>
              </div>
          </div>
          <!-- These validations are for the form group -->
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.matching_passwords">
                  <div class="error-message"
                      *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
              </ng-container>
          </div>
          
          <ion-row>
              <ion-col>
                  <ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Enviar</ion-button>
                  <!-- <ion-button (click)="signUp()" type="submit" color="danger" expand="block">Submit</ion-button> -->
              </ion-col>
          </ion-row>
      </form>
      <!-- <ion-card-content>
          This is content, without any paragraph or header tags,
          within an ion-card-content element.
      </ion-card-content> -->


  </ion-card>

</ion-content>